<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
  <!-- @author LYES KHERBICHE -->      
  <hibernate-configuration>

    <session-factory>
        <property name="dataSource">java:comp/env/jdbc/syndicat</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping resource="mapping/user.hbm.xml"/>
        <mapping resource="mapping/userRole.hbm.xml"/>
        <mapping resource="mapping/event.hbm.xml"/>
        <mapping resource="mapping/address.hbm.xml"/>
        <mapping resource="mapping/lot.hbm.xml"/>
        <mapping resource="mapping/condo.hbm.xml"/>
        <mapping resource="mapping/userData.hbm.xml"/>
    </session-factory>

</hibernate-configuration>